body, h1, p, a {
    font-family: Arial, sans-serif;
}
p {
    color: blue;
}

p.intro {
    font-size: 16px;
}
p.special {
    color: red;
}
a.link {
    text-decoration: none; 
    color: green; 
}
/* div tag */
#container {
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
}
