/* .container {
    width: 80%;
    margin: 10px;
    border: 1px solid black;
    padding: 20px;
}
.block-element{
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 2px solid red;
    background-color: lightcoral;
    margin: 10px;

} */
/* .container {
    width: 80%;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
}
.block-element{
    margin: 10px;
    width: 450px;
    height: 20px;
    padding: 10px;
    /* border: 2px solid red; */
    /* background-color: lightcoral;
}
.inline-element{
    margin: 10px;
    width: 150px;
    height: 50px;
    padding: 10;
    background-color: lightgreen;
} */ 
.container {
    width: 80%;
    margin: 0 auto;
  }
  
  .block-element {
    background-color: lightcoral;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
  }
  
  .inline-element {
    background-color: lightgreen;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .inline-block-element {
    background-color: lightblue;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }

/* block element -> background-color: lightcoral */
/* inline element -> background-color: lightgreen */
/* inline block element -> background-color: lightblue */

/* block element -> background-color: lightcoral */
/* inline element -> background-color: lightgreen */
/* inline block element -> background-color: lightblue */
/* 
width: 200px;
height: 100px;
padding: 10px;
border: 2px solid red;
background-color: lightcoral; */
