body {
  font-family: Arial, sans-serif;
  background-image: url('HH.PNG');
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjusted height */
}

#main-holder {
  width: 300%;

  max-width: 800px; /* Adjusted maximum width */
  padding: 20px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#login-header {
  color: #333;
}

#login-error-msg-holder {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#login-error-msg {
  color: #ff0000;
  margin: 0;
}

.login-form-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#login-form-submit {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
}

#login-form-submit:hover {
  background-color: #45a049;
}

@media screen and (max-width: 480px) {
  #main-holder {
    padding: 10px;
  }
  .login-form-field {
    width: calc(100% - 20px);
  }
}
